# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
next_e-commerce/node_modules
next_e-commerce/.pnp
next_e-commerce/.pnp.js

# testing
next_e-commerce/coverage

# next.js
next_e-commerce/.next/
next_e-commerce/out/

# production
next_e-commerce/build

# misc
next_e-commerce/.DS_Store
next_e-commerce/*.pem

# debug
next_e-commerce/npm-debug.log*
next_e-commerce/yarn-debug.log*
next_e-commerce/yarn-error.log*

# local env files
next_e-commerce/.env.local
next_e-commerce/.env.development.local
next_e-commerce/.env.test.local
next_e-commerce/.env.production.local

# vercel
next_e-commerce/.vercel
