rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	// 回答
    match /answers/{answerId} {
	    // uidがログインしているユーザーの場合は編集、削除が可能
      allow update, delete: if request.auth.uid == resource.data.uid;
      // ログインしているユーザーの場合は作成、閲覧が可能
      allow create, read: if request.auth.uid != null;
    }
    // 質問
    match /questions/{questionId} {
    	// ログインしているユーザーであれば作成が可能。ただし自分には不可
      allow create: if request.auth.uid != null &&
        request.auth.uid != request.resource.data.receiverUid;
      // 質問をしたユーザーと受け取ったユーザーのみ閲覧が可能
      allow read: if
        request.auth.uid == resource.data.senderUid ||
        request.auth.uid == resource.data.receiverUid;
      // 質問を受け取ったユーザーは編集が可能
      allow update: if request.auth.uid == resource.data.receiverUid;
      // 削除は不可
      allow delete: if false;
    }
    // ユーザー
    match /users/{uid} {
    	// 更新と削除はログインしている本人のみ
      allow update, delete: if request.auth.uid == uid;
      // 作成と閲覧はログインしているユーザーであれば可能
      allow create, read: if request.auth.uid != null;
    }
  }
}