.siteHeader {
  padding: 1.3rem 0 1.3rem 0;
  position: sticky;
  top: 0;
  background-color: var(--primary);
  z-index: 99;
}
.siteHeader__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.siteHeader__links {
  display: flex;
  align-items: center;
}
.slash {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
