@import '../Breakpoints';

$side-padding: 1.6rem;
$side-padding-sm: 1rem;

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include mq(sm) {
    flex-direction: column;
  }
  .item {
    margin-top: 5%;
    width: 47.5%;
    @include mq(sm) {
      margin-top: 1.3rem;
      width: 100%;
    }
    margin-top: 1.3rem;
  }
}

.item {
  display: flex;
  flex-flow: column;
  position: relative;
  background: var(--color-base-background-lighter);
  // 上下中央揃え
  justify-content: center;
}
.item__mainLink {
  padding: 1.1rem $side-padding 1.5rem;
  flex: 1;
  display: flex;
  flex-flow: column;
  @include mq(sm) {
    padding: 1rem $side-padding-sm 1.2rem;
  }
}
.item__date {
  color: var(--color-base-text-lighter);
  // font-size: 16px;
}

.order1 {
  @include mq(sm) {
    order: 1;
  }
}
.order2 {
  @include mq(sm) {
    order: 2;
  }
}
.order3 {
  @include mq(sm) {
    order: 3;
  }
}
.order4 {
  @include mq(sm) {
    order: 4;
  }
}
.order5 {
  @include mq(sm) {
    order: 5;
  }
}
.order6 {
  @include mq(sm) {
    order: 6;
  }
}

.worldSectionTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0;
  border-bottom: solid 1px rgba(212, 231, 241, 0.6);
}

.worldCategories {
  padding: 0.5rem 0;
}