@import "./Breakpoints";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// footer固定
footer {
  margin-top: auto;
}

button {
  // 継承する
  font-family: inherit;
  border: none;
  // リンクカーソル
  cursor: pointer;
  // デフォルトスタイルを無効にする
  appearance: none;
  // 背景を透明にする
  background: transparent;
  // 継承する
  font-size: inherit;
  // 継承する
  font-weight: inherit;
  // 継承する
  font-family: inherit;
  // 0.25秒
  transition: 0.25s;
  padding: 0;
  margin: 0;  
}
// 押下時の青い枠線を消す
button:focus {
	outline:0;
}