@import '../../Breakpoints';

$side-padding: 1.6rem;
$side-padding-sm: 1rem;

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .item {
    margin-top: 5%;
    width: 47.5%;
    height: auto;
    @include mq(sm) {
      margin-top: 1.3rem;
      width: 100%;
    }
    margin-top: 1.3rem;
    // width: 100%;
  }
}

.item {
  display: flex;
  flex-flow: column;
  position: relative;
  background: var(--color-base-background-lighter);
}
.item__mainLink {
  padding: 1.1rem $side-padding 1.5rem;
  flex: 1;
  display: flex;
  flex-flow: column;
  @include mq(sm) {
    padding: 1rem $side-padding-sm 1.2rem;
  }
}
.item__date {
  color: var(--color-base-text-lighter);
  font-size: 12px;
}
.item__description {
  margin-bottom: 0.5rem;
}

.itemSectionTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0;
  border-bottom: solid 1px rgba(212, 231, 241, 0.6);
}