@import 'styles/Breakpoints';

$side-padding: 1.6rem;
$side-padding-sm: 1rem;

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .item {
    margin-top: 5%;
    width: 47.5%;
    height: auto;
    @include mq(sm) {
      margin-top: 1.3rem;
      width: 100%;
    }
    margin-top: 1.3rem;
    // width: 100%;
  }
}

.item {
  display: flex;
  flex-flow: column;
  position: relative;
  background: var(--color-base-background-lighter);
}
.item__mainLink {
  padding: 1.1rem $side-padding 1.5rem;
  flex: 1;
  display: flex;
  flex-flow: column;
  @include mq(sm) {
    padding: 1rem $side-padding-sm 1.2rem;
  }
}
.item__date {
  color: var(--color-base-text-lighter);
  // font-size: 12px;
}
.item__description {
  margin-bottom: 0.5rem;
}

.scrollableCategories {
  display: flex;
  padding-left: 1.6rem;
  // フレックスアイテムを先頭にまとめる
  align-items: flex-start;
  // 内容が収まらない場合はスクロール
  overflow-x: scroll;
  // スクロールバー用
  padding-bottom: 1rem;
  // スクロールが惰性付きになる
  -webkit-overflow-scrolling: touch;
  // スクロールの振る舞いを滑るようにする
  scroll-behavior: smooth;
  // x軸に固定
  scroll-snap-type: x mandatory;
  // カテゴリー右の余白
  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    // フレックスコンテナからはみ出す
    flex-shrink: 0;
  }
  // スクロールバーを非表示
  &::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
  }
}
.scrollableCategory__link {
  display: block;
  // フレックスコンテナからはみ出す
  flex-shrink: 0;
  width: auto;
  margin-right: 50px;
  line-height: 1.5;
  scroll-snap-align: center;
  @include mq(sm) {
    margin-right: 30px;
  }
}
.scrollableCategory__name {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  white-space: nowrap;
}

.chosen {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.chosen::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
}

.categorySectionTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.3rem;
  border-bottom: solid 1px rgba(212, 231, 241, 0.6);
  margin-top: 1.3rem;
}
