@import '../../Breakpoints';

$side-padding: 1.6rem;
$side-padding-sm: 1rem;

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .item {
    margin-top: 5%;
    width: 47.5%;
    @include mq(sm) {
      margin-top: 1.3rem;
      width: 100%;
    }
    margin-top: 1.3rem;
  }
  .item__detail {
    width: 100%;
    @include mq(sm) {
      width: 100%;
    }
  }
}

.item {
  display: flex;
  flex-flow: column;
  position: relative;
  background: var(--color-base-background-lighter);
}
.item__price {
  text-align: center;
  padding: 0.7rem 0;
}

.button {
  @apply bg-secondary text-accents-1 cursor-pointer inline-flex px-10 rounded-sm leading-6  transition ease-in-out duration-150 shadow-sm font-semibold text-center justify-center uppercase py-2 border border-transparent items-center;
}

/* Disable smartphone hover. */
@screen md {
  .button2:hover {
    @apply bg-accents-0 text-primary border border-secondary outline-black;
  }
}

.button[data-active] {
  @apply bg-gray-600;
}

.button2 {
  @apply bg-secondary text-accents-1 cursor-pointer inline-flex px-10 rounded-sm leading-6  transition ease-in-out duration-150 shadow-sm font-semibold text-center justify-center uppercase py-2 border border-transparent items-center;
}

/* Disable smartphone hover. */
@screen md {
  .button2:hover {
    @apply bg-accents-0 text-primary border border-secondary outline-black;
  }
}

.button2[data-active] {
  @apply bg-gray-600;
}

.cartSectionTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0;
  border-bottom: solid 1px rgba(212, 231, 241, 0.6);
}
