@import '~bootstrap/scss/bootstrap';
@import '~react-toastify/dist/ReactToastify.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// フッター固定
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

footer{
  margin-top: auto;
  text-align: center;
  margin-bottom: -10px;
  // footerより下にナビゲーションバーがあるため高さを設定
  height: 120px;
}

.twitter-share-button {
  background: #1da1f2;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  border-radius: 14px;
  width: 120px;
}